# Dependencies
node_modules
npm-debug.log*

# Build outputs
dist
coverage

# Environment files
.env*
!.env.example

# Git
.git
.gitignore

# Documentation
README.md
*.md

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Test files
test
**/*.spec.ts
**/*.test.ts

# Development files
docker-compose*.yml
Dockerfile*